html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
  line-height: 1.65;
  padding-bottom: 1000px;
  max-width: 800px;
  margin: 50px auto;
}

p {
  text-align: justify;
}

h3 {
  text-align: center;
}

/* Latihan 1 */

.container-satu {
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
}

.kolom-utama {
  flex: 3;
  order: 3;
}

.sidebar-satu {
  flex: 1;
  order: 1;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 5px;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  box-sizing: border-box;
}

li a:hover {
  background-color: #111111;
  cursor: pointer;
}

.sidebar-dua {
  flex: 1;
  order: 2;
}

/* Akhir Latihan 1 */

/* Latihan 2 */
.container-dua {
  margin: 50px 10px;
}

.layanan {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 10px;
}

.layanan.satu {
  background-color: rgb(0, 153, 255);
}

.layanan.dua {
  background-color: rgb(17, 226, 128);
}

.layanan.tiga {
  background-color: rgb(230, 49, 4);
}

/* Akhir Latihan 2 */

/* Latihan 3 */
.container-tiga {
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail {
  width: 50%;
}

.thumbnail img {
  width: 100%;
}

/* Akhir Latihan 3 */

/* Latihan 4 */
.container-empat {
  margin: 50px auto;
  /* display: flex; */
}

.card {
  border: 1px solid #999;
  border-radius: 10px;
  background-color: #eee;
  overflow: hidden;
  margin: 10px;
  flex: 1;
}

.card .header {
  height: 150px;
  background-color: #666;
}

.card .content {
  text-align: center;
  padding-bottom: 20px;
}

.card.besar {
  transform: none;
}
/* Akhir Latihan 4 */

/* Latihan 5 */
  .container-lima {
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: 5px solid black;
    display: flex;
  }

  .kotak {
    width: 100px;
    height: 100px;
    background-color: salmon;
    color: white;
    text-align: center;
    /* Sebelum menggunakan Display: flex; 
    line-height: 100px;
    margin: 250px auto;
    transform: translateY(-50px); */

    /* Setelah menggunakan flex */
    margin: auto;
    display: flex;
  }

  .kotak span {
    margin: auto;
  }

/* Akhir Latihan 3 */

/* Responsive */
@media(min-width: 600px) {

  ul {
    display: inline-block;
  }

  .container-satu {
    flex-direction: row;
    align-items: baseline;
  }

  .kolom-utama {
    order: 2;
  }
  
  .sidebar-satu {
    margin: 20px;
  }

  .sidebar-dua {
    margin: 20px;
  }

  .container-dua {
    display: flex;
    justify-content: space-between;
  }

  .layanan {
    width: 30%;
  }

  .thumbnail {
    width: 25%;
  }

  .container-empat {
    display: flex;
    margin: 20px;

  }

  .card.besar {
    transform: scale(1.12);
  }

}